<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
	<title>404 Page not found</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="has-text-centered has-background-white-bis">
	<main class="py-4">
		<h1 class="title is-1 is-family-monospace">404</h1>
		<h2 class="subtitle is-4 is-family-monospace">Page not found</h2>

		<p class="content block">
			The server <strong>couldn't find the page</strong> you're looking for or <strong>it doesn't exist</strong>.
		</p>
		<p class="content block">
			If you think this is an error please <a href="/contact">contact support</a>.
		</p>
		<div class="block">
			<a href="/" class="button is-black is-outlined">Take me back home</a>
			<a href="/contact" class="button is-danger is-outlined">This is an error</a>
		</div>
  </main>
</body>
</html>
