<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Error</title>
</head>
<body>
    <nav class="navbar is-active is-link is-spaced">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <h1 class="title" style="color: white;">DevPage</h1>
            </a>
        </div>
    </nav>
    <br>
    <div class="container">
        <h1 class="title">An error has occurred!</h1>
        <% if (error) { %>
            <div class="tag is-danger is-large"><%= error %></div>
        <% } else {%>
            <div class="tag is-danger is-large">Unknown error. Please contact&nbsp;<a href='https://scoopydev.xyz/contact'>developer</a>&nbsp;to report this issue.</div>
        <% } %>
        <br>
        <br>
        <p class="subtitle">Feelin' lost?</p>
        <% if (back) { %>
            <li><a href="<%= back %>">Go back</a></li>
        <% } %>
        <li><a href="/">Home</a></li>
    </div>
</body>
</html>